picRight{
    position: relative;
    bottom: 37px;
    left: 10px;
}
.picMain{
position: relative;
right: 8px;
bottom: 42px;
filter: brightness(50%);
}
.heading1{
    position: relative;
    bottom: 513px;
    left: 42%;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 40px;
    font-style:helvetica;
}
.heading2{
    position: relative;
    bottom: 540px;
    left: 38%;
    color: whitesmoke;
}
.heading3{
    position: relative;
    bottom: 555px;
    left: 42%;
    color: whitesmoke;
}
.button1{
        position: relative;
        bottom: 550px;
        left: 44%;
        font-size: 18px;
        color: whitesmoke;
        font-style: helvetica;
        font-weight: bold;
        background-color: rgb(231, 59, 59);
    }
   .flexbox-item1{
    width: 1845px;
    height: 250px;
    position: relative;
    bottom: 278px;
    right: 8px;
    background-color: whitesmoke;
 }
   .flexbox-item2{
    width: 800px;
    height: 100px;
    background-color: white;
    position: relative;
    bottom: 450px;
    left: 8px;
   }
   .flexbox-item3{
    width: 800px;
    height: 100px;
    background-color: white;
    position: relative;
    bottom: 549px;
    left: 1014px;
   }
.heading4{
    position: relative;
    bottom: 699px;
     left: 35px;
    color: black;
    font-style:helvetica;
}
.heading5{
    position: relative;
    bottom: 740px;
     left: 1050px;
    color: black;
    font-style:helvetica;
}
.picHeart{
    position: relative;
    bottom: 732px;
     left: 25px;
    }
    .picChat{
        position: relative;
        bottom: 810px;
         left: 1030px;
        }
        .paragraph1{
            position: relative;
            bottom: 879px;
             left: 95px;
            }
            .paragraph2{
                position: relative;
                bottom: 928px;
                 left: 1100px;
                }
                .heading6{
                    position: relative;
                    bottom: 790px;
                     text-align: center;
                    }
                    .heading7{
                        position: relative;
                        bottom: 804px;
                         text-align: center;
                        }
                        .Fcontainer{
                            display: flex;
}
   .B1{
    background-color: whitesmoke
    ;
    width: 690px;
    height: 500px;
    position: relative;
    bottom: 890px;
margin: 100px;
   }
   .picFitz{
    position: relative;
    bottom: 1505px;
    left: 102px;
    filter: brightness(50%)
   }
   .picSt{
    position: relative;
    bottom: 1504px;
    left: 301px;
    filter: brightness(55%);
   }
.picCb{
    position: relative;
    bottom: 1505px;
    left: 500px;
    filter: brightness(50%);
   }
.overflow{
    overflow: hidden;
    height: 130%;
}
html, body{
    height: 130%;
}
.heading8{
    position: relative;
    bottom: 1764px;
    left: 264px;
    color: whitesmoke;
   }
   .paragraph3{
    position: relative;
    bottom: 1780px;
    left: 230px;
    color: whitesmoke
   }
.heading9{
 position: relative;
 bottom: 1858px;
 left: 855px;
 color: whitesmoke
}
.paragraph4{
    position: relative;
    bottom: 1873px;
    left: 813px;
    color: whitesmoke
   }
   .heading10{
    position: relative;
    bottom: 1957px;
    left: 1343px;
    color: whitesmoke
   }
   .paragraph5{
    position: relative;
    bottom: 1968px;
    left: 1408px;
    color: whitesmoke
   }
   .paragraph6{
    position: relative;
    bottom: 1798px;
    left: 130px;
    color: black;
   }
   .paragraph7{
    position: relative;
    bottom: 1831px;
    left: 749px;
    color: black;
   }
   .paragraph8{
    position: relative;
    bottom: 1866px;
    left: 1330px;
    color: black;
   }
   .button2{
    position: relative;
    bottom: 1805px;
    left: 770px;
    background-color: rgb(231, 59, 59);
    font-size: 27px;
    color: whitesmoke;
    font-weight: bold;
   }
   .flex-container{
}
   .flexbox-item5{
    width: 1845px;
    height: 250px;
    position: relative;
    bottom: 1710px;
    background-color: rgb(61, 58, 58);
 }
 .flex-container2{
}
   .flexbox-item6{
    width: 1845px;
    height: 3px;
    position: relative;
    bottom: 1885px;
    background-color: rgb(114, 111, 111);
 }
 .heading11{
    position: relative;
    bottom: 1843px;
    text-align: center;
    color: rgb(223, 215, 215);
 }
 .button3{
    position: relative;
    left: 89%;
    top: 6px;
    font-size: 15px;
    color: black;
    font-style: helvetica;
    font-weight: bold;
    background-color: white;
}
.button4{
    position: relative;
    left: 90%;
    top: 6px;
    font-size: 15px;
    color: black;
    font-style: helvetica;
    font-weight: bold;
    background-color: white;
}